<div class="main-wrap">
  
    <main class="position-relative background12">
        <!--Search Form-->
        <div class="main-search-form transition-02s">
            <div class="container">
                <div class="pt-50 pb-50 main-search-form-cover">
                    <div class="row mb-20">
                        <div class="col-12">
                           
                        </div>
                    </div>
                    <div class="row">
                       
                    </div>
                </div>
            </div>
        </div>
        <!--main content-->
        <div class="main_content shop pb-100 mt-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-md-10">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30">Login</h3>
                                </div>
                                <form method="post" #f="ngForm" (ngSubmit)="Login()">
                                    <div class="form-group">
                                        <input type="text" required="" class="form-control" name="email" [(ngModel)]="newrequest.email" placeholder="Your Email">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" required="" type="password" name="password" [(ngModel)]="newrequest.password" placeholder="Password">
                                    </div>
                                    
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-fill-out btn-block" name="login">Log in</button>
                                    </div>
                                </form>
                               
                                <div class="text-muted text-center">Don't Have an Account? <a href="signup.html">Sign up now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>